.suggestions_container{
    width: 325px;
    height: 290px;
    margin-top: 30px;
}

.suggestions_header{
    font-weight: bold;
    color: #8e8e8e;    
}

.suggestions_body{
    height: 290px;
    width: 256px;
    margin-top: 10px;
}

.suggestions_friends{
    display: flex;
    padding: 5px 0px;
}

.suggestions_img{
    max-width: 35px;
    max-height: 35px;
}

.suggestions_username{
    font-weight: bold;
    margin: 10px;
}